*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
}

a{
    text-decoration: none;
}

header{
    padding: 20px 6rem;
}

.left img{
    height: 60px;
}

#all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.right a{
    margin-left: 20px;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    padding: 24px 0 26px;
}


/* section1 */

#first-section{
    background-image: url(https://getmasum.com/html-preview/nour/assets/img/slider/1.jpg);
    background-position: center;
    padding: 15rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: -1;
}
#first-section p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 50px;
}
#first-section h1{
    color: #fff;
    font-size: 55px;
    margin-bottom: 100px ;
}
#first-section a{
    border: 2px solid transparent; 
    background-color: #6168ff;
    color: #fff;
    padding: 13px 30px;
    border-radius: 4px;
    font-weight: 600;
}

/* section2 */
 
#second-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 6rem;
}

#second-section .left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
#second-section .left .box{
    width: 50%;
    padding: 10px 30px;
}

.box i{
    padding: 20px ;
    font-size: 30px;
    color: #6168ff;
}

.box h3{
    color: #212529;
    font-size: 20px;
    padding: 5px 20px;
}

.box p{
    padding: 5px 20px;
    font-size: 20px;
    color: #666666;
}
#second-section .right img{
    width: 100%;
    height: 100%;
}

#second-section .right{
    width: 40%;
    position: relative;
    z-index: -1;
}
#second-section .right .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 1;
}
#third-section{
    margin: 100px ;
}

#third-section .pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
    
#third-section .pics .box{
    width: 27%;
    margin: auto;
    border: 2px solid #212529;
}

#third-section .pics .box img{
    width: 100%;
  
}

.pics .box h4{
    padding: 0 28px;
}

    






